<div class="container">
    <div class="row">
        <div class="col-sm-9 border" >
        <h2>Vous pouvez nous contacter</h2>
            <div class="contact">
                <i class="fa fa-facebook-square" style="font-size:48px;color:black"></i>
                <i class="fa fa-twitter-square" style="font-size:48px;color:black"></i>
                <i class="fa fa-instagram" style="font-size:48px;color:black"></i>
                <i class="fa fa-skype" style="font-size:48px;color:black"></i>
                <i class="fa fa-linkedin-square" style="font-size:48px;color:black"></i>
            </div>
        </div>
        <aside class="col-sm-3 border">
        <h2>Aside</h2>
        </aside>
    </div>
</div>
